div{
  font-family: Arial,sans-serif;
}
body {
    background-color: rgb(250 240 230);
}
h1 {
    color: rgb(47 79 79);
  text-align: center;
  font-size:40px;
}

p{
  font-size:40px;
  color: rgb(47 79 79);
}
h4{
  color: rgb(47 79 79);
  
}
img{
  border-size = 10px;
  border-style: solid;
  border-color: rgb(47 79 79);
}
.Hobbys {
  
font-size: 30px;
}

.Films{
  font-size: 30px;
}
.FavoritFood{
   border-size = 10px;
  border-style: solid;
  border-color: rgb(47 79 79);
  font-size:30px;
  color: rgb(67 109 109);
  text-align: center;
  background-color: rgb(07 39 39);
  font-family: Trattatello, fantasy;
}
